.wrapperReset {
    margin-top: 30px;
    position: relative;
    width: 630px;
    height: 460px;
    background: rgba(139, 133, 80, 0.88);
    border-radius: 10px;
    color: #fff;
    align-items: top;
}

.wrapperReset .form-box {
    width: 100%;

}

.wrapperReset h2{
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(67, 65, 41);
}


.wrapperReset .input-box {
    position: relative;
    width: 60%;
    height: 60px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
  
}

.input-box input{
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    color:white;
    padding: 20px 45px 20px 20px;
    font-size: large;
}

.input-box input::placeholder{
    color: white;
    font-family: "Playfair Display", serif;
}



.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 20px;
}

.wrapperReset button{
    position: relative;
    margin-bottom: 30px;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 20px;
    color: red;
    font-weight: 900;
    font-family: "Playfair Display", serif;
 
}